In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
train_data = pd.read_excel('/home/hasan/DATA SET/Airline Ticket Price/Test_set.xlsx')

In [6]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [7]:
train_data.shape

(2671, 10)

In [8]:
train_data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
dtype: object

## Feature Engineering

##### Date_of_Journey column

In [9]:
#creating invidual column of Day, Month, Year
train_data['Day'] = train_data['Date_of_Journey'].str.split('/').str[0]
train_data['Month'] = train_data['Date_of_Journey'].str.split('/').str[1]
train_data['Year'] = train_data['Date_of_Journey'].str.split('/').str[2]

#converting to integer type of Day, Month, Year column
train_data['Day'] = train_data['Day'].astype(int)
train_data['Month'] = train_data['Month'].astype(int)
train_data['Year'] = train_data['Year'].astype(int)

#dropping Date_of_Journey column
train_data.drop(['Date_of_Journey'], axis=1, inplace=True)

In [10]:
train_data.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Day,Month,Year
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6,2019
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5,2019
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,21,5,2019
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,5,2019
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,24,6,2019

##### Arrival_Time column

In [11]:
train_data['Arrival_Time'] = train_data['Arrival_Time'].str.split(' ').str[0]

In [12]:
train_data.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Day,Month,Year
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25,10h 55m,1 stop,No info,6,6,2019
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5,2019
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00,23h 45m,1 stop,In-flight meal not included,21,5,2019
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,5,2019
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45,2h 50m,non-stop,No info,24,6,2019

##### null value checks

In [13]:
#checking null values
train_data.isnull().sum()

Airline            0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Day                0
Month              0
Year               0
dtype: int64

In [14]:
train_data.dropna(inplace=True)

##### Total_Stops column

In [15]:
train_data['Total_Stops'].unique()

array(['1 stop', 'non-stop', '2 stops', '3 stops', '4 stops'],
      dtype=object)

In [16]:
#replacing "non stop" with "0 stop"
train_data['Total_Stops'] = train_data['Total_Stops'].replace('non-stop', '0 stops')
train_data['Total_Stops'] = train_data['Total_Stops'].str.split(' ').str[0]
train_data['Total_Stops'] = train_data['Total_Stops'].astype(int)

In [17]:
train_data.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Day,Month,Year
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25,10h 55m,1,No info,6,6,2019
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1,No info,12,5,2019
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00,23h 45m,1,In-flight meal not included,21,5,2019
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1,No info,21,5,2019
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45,2h 50m,0,No info,24,6,2019

##### Arrival_Time column

In [18]:
#creating new column for Arrival_Time column
train_data['Arrival Hour'] = train_data['Arrival_Time'].str.split(':').str[0]
train_data['Arrival Minute'] = train_data['Arrival_Time'].str.split(':').str[1]

#converting to integer
train_data['Arrival Hour'] = train_data['Arrival Hour'].astype(int)
train_data['Arrival Minute'] = train_data['Arrival Minute'].astype(int)

#dropping Arrival_Time column
train_data.drop(['Arrival_Time'], axis=1, inplace=True)

In [19]:
train_data.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Day,Month,Year,Arrival Hour,Arrival Minute
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,10h 55m,1,No info,6,6,2019,4,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,4h,1,No info,12,5,2019,10,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,23h 45m,1,In-flight meal not included,21,5,2019,19,0
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,13h,1,No info,21,5,2019,21,0
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,2h 50m,0,No info,24,6,2019,2,45

##### Dep_Time column

In [20]:
#splitting Dep_Time column
train_data['Dep Hour'] = train_data['Dep_Time'].str.split(':').str[0]
train_data['Dep Minute'] = train_data['Dep_Time'].str.split(':').str[1]

#changing type to integer
train_data['Dep Hour'] = train_data['Dep Hour'].astype(int)
train_data['Dep Minute'] = train_data['Dep Minute'].astype(int)

#dropping Dep_Time column
train_data.drop(['Dep_Time'], axis=1, inplace=True)

In [21]:
train_data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Day,Month,Year,Arrival Hour,Arrival Minute,Dep Hour,Dep Minute
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1,No info,6,6,2019,4,25,17,30
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1,No info,12,5,2019,10,20,6,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,23h 45m,1,In-flight meal not included,21,5,2019,19,0,19,15
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,13h,1,No info,21,5,2019,21,0,8,0
4,Air Asia,Banglore,Delhi,BLR → DEL,2h 50m,0,No info,24,6,2019,2,45,23,55

##### "Route" column

In [22]:
train_data['Route'] = train_data['Route'].str.replace(' →','')

In [23]:
train_data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Day,Month,Year,Arrival Hour,Arrival Minute,Dep Hour,Dep Minute
0,Jet Airways,Delhi,Cochin,DEL BOM COK,10h 55m,1,No info,6,6,2019,4,25,17,30
1,IndiGo,Kolkata,Banglore,CCU MAA BLR,4h,1,No info,12,5,2019,10,20,6,20
2,Jet Airways,Delhi,Cochin,DEL BOM COK,23h 45m,1,In-flight meal not included,21,5,2019,19,0,19,15
3,Multiple carriers,Delhi,Cochin,DEL BOM COK,13h,1,No info,21,5,2019,21,0,8,0
4,Air Asia,Banglore,Delhi,BLR DEL,2h 50m,0,No info,24,6,2019,2,45,23,55

##### Dropping "Duration" and "Additional_Info" column

In [24]:
train_data.drop(['Duration','Additional_Info'], axis=1, inplace=True)

##### Making dummy data for "Airline", "Source", "Destination", "Route" column

In [25]:
airline = pd.get_dummies(train_data['Airline'])
source = pd.get_dummies(train_data['Source'])
destination = pd.get_dummies(train_data['Destination'])
route = pd.get_dummies(train_data['Route'])

In [26]:
train_df = pd.concat([airline, source, destination, route, train_data], axis=1)

In [27]:
train_df.drop(['Airline','Source','Destination','Route'], axis=1, inplace=True)

In [28]:
train_df.head()

,Air Asia,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Vistara,...,DEL UDR BOM COK,MAA CCU,Total_Stops,Day,Month,Year,Arrival Hour,Arrival Minute,Dep Hour,Dep Minute
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,6,6,2019,4,25,17,30
1,0,0,0,1,0,0,0,0,0,0,...,0,0,1,12,5,2019,10,20,6,20
2,0,0,0,0,1,0,0,0,0,0,...,0,0,1,21,5,2019,19,0,19,15
3,0,0,0,0,0,0,1,0,0,0,...,0,0,1,21,5,2019,21,0,8,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,24,6,2019,2,45,23,55